body {
    /*background-color: lightblue;*/
    background-image: url("wyf1.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height:100%;
}

h1 {
    color: white;
    text-align: center;
}



/*text animation*/
.content {
  position: absolute;
  top: 40%;
  left: 60%;
  transform: translate(-50%, -50%);
  font-size: 35px;
  line-height: 40px;
  font-family: 'Tangerine', serif;
  color: lightblue;
  height: 160px;
  overflow:hidden;
  -webkit-animation-name: fshow; /* Chrome, Safari, Opera */
  -webkit-animation-duration: 10s; /* Chrome, Safari, Opera */
  -webkit-animation-iteration-count: 100; /* Chrome, Safari, Opera */
  -webkit-animation-timing-function: linear;
  animation-name: fshow;
  animation-duration: 10s;
  animation-iteration-count: 100;
  animation-timing-function: linear;

}


.visible {
  font-weight:600;
  overflow:hidden;
  height:40px;
  padding:0 50px;
  
  &:before {
    content:'[';
    left: 0;
    line-height:40px;
  }
  &:after {
    content:']';
    position:absolute;
    right: 0;
    line-height:40px;
  }
  &:after, &:before {
    position:absolute;
    top:0;
    color:#16a085;
    font-size:42px;
    animation:2s linear 0s normal none infinite opacity;
  }
}



p {
  display:inline;
  float:left;
  margin:0;
}

ul {
  margin-top:0;
  padding-left:80px;
  text-align:left;
  list-style:none;
  animation:6s linear 0s normal none infinite change;
}

ul li {
  line-height:40px;
  margin:0;
}

@keyframes opacity {
  0%, 100%   {opacity:0;}
  50%  {opacity:1;}
}

@keyframes change {
  0%, 12%, 100%   {transform:translateY(0);}
  17%,29%  {transform:translateY(-25%);}
  34%,46%  {transform:translateY(-50%);}
  51%,63%  {transform:translateY(-75%);}
  68%,80%  {transform:translateY(-50%);}
  85%,100%  {transform:translateY(-25%);}
}

#footnote{
  text-align: right;
  font-size: 30px;
  color:lightblue;
  margin: 30px 0px 0px 0px;
}


#fontp{
  overflow: hidden;
  padding: 20% 50%;

}
.area{
  text-align: left;
  font-size:85px;
  color:#fff;
  letter-spacing: -7px;
  font-weight:500;
  text-transform:uppercase;
  animation:blur .75s ease-out infinite;
  text-shadow:0px 0px 5px #fff,
      0px 0px 7px #fff;
}

@keyframes blur{
  from{
      text-shadow:0px 0px 10px #fff,
      0px 0px 10px #fff, 
      0px 0px 25px #fff,
      0px 0px 25px #fff,
      0px 0px 25px #fff,
      0px 0px 25px #fff,
      0px 0px 25px #fff,
      0px 0px 25px #fff,
      0px 0px 50px #fff,
      0px 0px 50px #fff,
      0px 0px 50px #7B96B8,
      0px 0px 150px #7B96B8,
      0px 10px 100px #7B96B8,
      0px 10px 100px #7B96B8,
      0px 10px 100px #7B96B8,
      0px 10px 100px #7B96B8,
      0px -10px 100px #7B96B8,
      0px -10px 100px #7B96B8;}
}



















#snow{
  background: none;
  font-family: Androgyne;
  background-image: url('s1.png'), url('s2.png'), url('s3.png');
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index:1;
  -webkit-animation: snow 10s linear infinite;
  -moz-animation: snow 10s linear infinite;
  -ms-animation: snow 10s linear infinite;
  animation: snow 10s linear infinite;
}
@keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
}
@-moz-keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 400px 1000px, 200px 400px, 100px 300px;}
}
@-webkit-keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
}
@-ms-keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
} 

/* Chrome, Safari, Opera */
@-webkit-keyframes fshow {
    0%   {color:red; left:75%; top:40%;}
    50%  {color:yellow ;left:55%; top: 40%;}
    100% {color:blue; left:75%; top:40%;}
}

/* Standard syntax */
@keyframes fshow {
    0%   {color:red; left:75%; top:40%;}
    50%  {color:yellow ;left:55%; top: 40%;}
    100% {color:blue; left:75%; top:40%;}
  }

  /* Chrome, Safari, Opera */
@-webkit-keyframes fshow2 {
    0%   {color:red; left:85%; top:80%;}
    100% {color:blue; left:75%; top:80%;}
}

/* Standard syntax */
@keyframes fshow2 {
    0%   {color:red; left:85%; top:80%;}
    100% {color:blue; left:75%; top:80%;}
  }